<footer id="main-footer">
  <div id="footer-container">
    <div id="footer-copyright" class="footer-content">
      © <%= Time.now.year %> Agendo
    </div>
    <ul id="footer-links" class="footer-content">
      <li>About</li>
      <li>Mobile App</li>
      <li>API</li>
      <li>Contact</li>
    </ul>
  </div> 
</footer>
