<div id="profile-agendas" class="left-side-component">
  <span class="profile-agenda-header">Agendas</span> | People
  <ol>
    <% @my_agendas.each do |agenda| %>
      <li class="profile-agenda">
        <%= link_to agenda.name, user_agenda_path(@me, agenda.id) %><br/>
      </li>
    <% end %>
  </ol>
</div>
