<div id="ls-agendas-list" class="left-side-component">
  <span class="ls-agenda-header">Agendas</span> | People
  <ol>
    <% user.agendas.each do |agenda| %>
      <li class="ls-agenda">
        <%= link_to agenda.name, user_agenda_path(user, agenda.id) %><br/>
      </li>
    <% end %>
  </ol>
</div>
