<div id="ls-profile">
  <div id="ls-avatar">
    <%= link_to(image_tag(user.avatar_url(:profile)), user_path(user)) %>
  </div>
  <div id="ls-username-background">
    <div id="ls-username">
      <p id="ls-name-holder">
        <% if request.fullpath == user_path(user) %>
          <%= user.username %>
        <% else %>
          <br/>
        <% end %>
      </p>
    </div>
  </div>
</div>
