<div id="ls-profile">
  <div id="ls-avatar">
    <% if logged_in? %>
    <%= link_to(image_tag(user.avatar_url(:profile)), user_path(user)) %>
    <% else %>
    <%= image_tag(src="http://batsignal.herokuapp.com/assets/fallback/profile_default.jpg") %>
    <% end %> 
  </div>
  <div id="ls-username-background">
    <div id="ls-username">
      <p id="ls-name-holder">
        <% if logged_in? %>
        <%= current_user.username %>
        <% else %>
          You!
        <% end %>
      </p>
    </div>
  </div>
</div>
