/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import 'bourbon';
@import 'agendo_hub';	// required for twitter bootstrap styles via bootstrap-sass.gem
@import 'profile';
@import 'profile-edit';


////////////////////////////////////////
//
// GENERAL
//
//

body {
//	@include linear-gradient(#D6E5F2, #FAFDFF);
	background-image:url("background/blue-noise-2.png"); 
}
.container {
	margin-left: 25px;
	margin-right: 25px;
}

.divider-vertical.logo {
	margin-left: 20px;
}

.well {
	padding: 3px;
}

.btn-inverse.profile-action {
	padding: 3px 10px;
}


#flash-container {
	position: absolute;
	top:40;
	left:0;
	width: 100%;
	z-index:3;
}


////////////////////////////////////////
//
//	NAV BAR
//
//

#navbar {
	margin: 0;
	width: 100%;
	background-color: white;
	@include box-shadow(0px 1px 4px 2px #696969);
	border-bottom: 2px solid gray;
	position: fixed;
	z-index: 8;

	#navbar-container{
		width: 970px;
		margin: 0 0 0 55px;
		padding: 0;
		background-color: red;

		#agendo {
			font-size: 2em;
			&:hover {
				text-decoration: none;
			}
		}

		#navbar-logo {
			display:inline;
			position: relative;
			float:left;
			margin: 10px 0 0 0;
		}

		#navbar-items {
			display:inline;
			position: relative;
			float:left;
			margin: 12px 0 0 0;

			ul {
				margin: 0 0 0 60px;
			}
			li {
				display:inline;
				position: relative;
				float:left;
				margin: 0 10px 0 0;
			
			}
		}

		#navbar-user-menu {
			display:inline;
			position: relative;
			float:right;
			margin: 5px 20px 0 0;
			height: 100%;

			ul {
				margin: 0;
				li {
					list-style-type: none;
				}
			}

			#nav-avatar {
				background-color: #E8F2FA;
				padding: 3px;
				border: 1px solid #787878;
				@include border-radius(4px);
				img {
					@include border-radius(4px);
				}
			}
		}
	}
}

#first-divider {
	margin: 0 0 0 35px;
}
	
////////////////////////////////////////
//
// LOG IN SCREEN
//
//

#body-mask {
	height: 100%;
	width: 100%;
	position: absolute;
	top:35;
	left:0;
	background-color: #91C2EB;
	background-image: url('background/photo2.jpg');
	background-repeat: no-repeat;
}


////////////////////////////////////////
//
// MAIN RIGHT SIDE CONTENT
//
//

#edit-container {
	margin: 70px 0 0 30px;
	width: 300px;
	.hero-unit {
		padding: 25px 40px;
		@include box-shadow(0px 0px 0px 5px whiteSmoke);
		border: 2px solid #CADDEB;
	}
	.help-block {
		font-size: 16px;
	}
	.lander {
	}
}

#main-content-container {
	margin: 0 0 0 203px;
}

////////////////////////////////////////
//
// FOOTER
//
//

#main-footer {
	width: 100%;
	min-height: 60px;
	background-color: white;
	position: relative;
	display:block;
	clear: both;
	border-top: 2px solid orange;

	#footer-container {
		margin: 0 auto;
		width: 900px;
		height: 100%;
		padding: 25px 0 0 55px;
		font-weight: 200;
	}

	#footer-copyright{
		display: inline;
		position: relative;
		float: left;
		color: #adadad;
	}

	.footer-links {
		display: inline;
		position: relative;
		float: left;
		li {
			display: inline;
			position: relative;
			float: left;
			margin: 0 15px 0 0;
		}
	}
}
