/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import 'bourbon';
@import 'bootstrap_changes';	// required for twitter bootstrap styles via bootstrap-sass.gem
@import 'navbar';
@import 'left-side';
@import 'right-side';
@import 'user-profile';


////////////////////////////////////////
//
// GENERAL
//
//

body {
//	@include linear-gradient(#D6E5F2, #FAFDFF);
	background-image:url("background/blue-noise-2.png"); 
}
.container {
	margin-left: 25px;
	margin-right: 25px;
}

.divider-vertical.logo {
	margin-left: 20px;
}

.well {
	padding: 3px;
}

.btn-inverse.profile-action {
	padding: 3px 10px;
}

#flash-container {
	position: absolute;
	top:40;
	left:0;
	width: 100%;
	z-index:3;
}


////////////////////////////////////////
//
// LOG IN SCREEN
//
//

#body-mask {
	height: 100%;
	width: 100%;
	position: absolute;
	top:35;
	left:0;
	background-color: #91C2EB;
	background-image: url('background/photo2.jpg');
	background-repeat: no-repeat;
}

.login-container {
	margin: 70px 0 0 30px;
	width: 300px;
	.hero-unit {
		padding: 25px 40px;
		@include box-shadow(0px 0px 0px 5px whiteSmoke);
		border: 2px solid #CADDEB;
	}
	.help-block {
		font-size: 16px;
	}
	.lander {
	}
}


////////////////////////////////////////
//
// FOOTER		# not in current layout
//
//

#main-footer {
	width: 100%;
	min-height: 60px;
	background-color: white;
	position: relative;
	display:block;
	clear: both;
	border-top: 2px solid orange;

	#footer-container {
		margin: 0 auto;
		width: 900px;
		height: 100%;
		padding: 25px 0 0 55px;
		font-weight: 200;
	}

	#footer-copyright{
		display: inline;
		position: relative;
		float: left;
		color: #adadad;
	}

	.footer-links {
		display: inline;
		position: relative;
		float: left;
		li {
			display: inline;
			position: relative;
			float: left;
			margin: 0 15px 0 0;
		}
	}
}

