<div id="navbar-logo" class="pull-left logged-out">
  <%= link_to "Agendo", "http://batsignal.herokuapp.com/users/estill01/agendas/make-agendo-better", :id => "agendo" %>
</div>
<div id="navbar-items" class="logged-out">
  <%= link_to "Sign up", signup_path %> or <%= link_to "Log in", login_path %>
</div>

