<div id="navbar"> 
  <div id="navbar-container">
  <% if logged_in? %>
    <%= render :partial => "layouts/navbar/logged_in_nav" %>
  <% else %>
    <%= render :partial => "layouts/navbar/logged_out_nav" %>
  <% end %>
  </div>
</div>
