<% if logged_in? %>
<div id="navbar"> 
  <div class="navbar-tag green">
  <br/>
  </div>
  <div class="navbar-tag blue">
  <br/>
  </div>
  <div id="navbar-container">
      <%= render :partial => "layouts/navbar/logged_in_nav" %>
  </div>
</div>
<% end %>
