<footer id="main-footer">
  <div id="footer-container">
    <div id="footer-copyright" class="footer-content">
      © <%= Time.now.year %> Agendo
    </div>
    <div class="footer-links">
      <ul class="footer-links">
        <li>About</li>
        <li>Mobile App</li>
        <li>API</li>
        <li>Privacy</li>
        <li>TOS</li>
        <li>Contact</li>
      </ul>
    </div>
  </div> 
</footer>
